/* color */
/* basic setting */
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.btn {
  background: #fcb303;
  color: #ffffff;
  padding: .8rem 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.7rem;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  cursor: pointer;
  background-color: #fcbe26;
}
/* Оформление форм */
.form {
  font-size: 1.5rem;
  /*подпись под кнопкой*/
}
.form-input {
  display: block;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
  padding: 1.7rem;
  margin: 3rem 0;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-40%);
          transform: translateX(-50%) translateY(-40%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  height: 5.5rem;
}
/* tipography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
  padding: 0;
}
.section-header h2 {
  font-size: 4rem;
  font-weight: 900;
}
.section-header p {
  font-size: 1.7rem;
}
.main {
  padding: 3rem 0 10rem;
  background: url(../img/fon-header2.jpg) center center no-repeat;
  background-size: cover;
  /*Подзаголовок */
  /*Зеленый ярлык*/
  /*Главная форма*/
}
.main-content {
  margin-top: 16rem;
  /*Главный заголовок */
}
.main-content h1 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.45;
  margin-top: 0;
}
.main-subtittle {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.main span {
  display: inline-block;
  padding: 1rem 4rem;
  background: #36b813;
  text-align: center;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  /*300 */
}
.main span strong {
  font-size: 3rem;
}
.main strong {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-size: 700;
  display: block;
}
.main-form {
  padding: 4rem 5rem;
  text-align: center;
  background: #ffffff;
  /*подпись под кнопкой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone {
  text-align: right;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  text-align: end;
}
/* Оформление секции с преимуществами */
.features {
  margin-bottom: 10rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-weight: 700;
}
.features-block p {
  font-size: 1.7rem;
  margin-top: 3rem;
  display: inline-block;
  width: 80%;
}
.features-img {
  height: 12rem;
  margin-bottom: 1rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
  border: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.png) center no-repeat;
  background-size: 100%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.png) center no-repeat;
  background-size: 100%;
}
.section-header {
  margin: 10rem 0 10rem;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}
/* Секции с ценами */
.price {
  background: #36b813 url(../img/priseFon4.png) center;
  padding: 0 0 10rem 0;
}
.price-button {
  text-align: center;
}
.price-block {
  padding: 2rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 50rem;
}
.price-block h4 {
  font-size: 1.9rem;
  font-weight: 900;
  margin: 3rem 0rem;
  min-height: 4rem;
}
.price-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 15rem;
}
.price-tag {
  font-size: 1.9rem;
  font-weight: 900;
  display: block;
  min-height: 10rem;
}
.price-list {
  font-size: 1.6rem;
  min-height: 12em;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  line-height: 1.3;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/gal.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}
/* секция с отзывами */
.feedback {
  background: #ffffff;
  padding-top: 0.1rem;
  position: relative;
  padding-bottom: 0;
}
.feedback-slider {
  background-color: #FCFCFC;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider .media {
  padding-top: 3rem;
  font-size: 1.8rem;
}
.feedback-slider .media p {
  position: relative;
  font-style: italic;
  padding: 1rem;
  border: 2px solid #36b813;
  margin-top: 2rem;
}
.feedback-slider .media p::before {
  content: '';
  display: block;
  position: absolute;
  background: #FCFCFC;
  border: 2px solid #FCFCFC;
  left: -1rem;
  bottom: 4rem;
  width: 2rem;
  height: 2rem;
}
.feedback-slider .media h5 {
  font-weight: 900;
  font-size: 2.2rem;
}
.feedback-slider p {
  font-size: 2rem;
}
.feedback-form {
  margin-top: 2rem;
  padding: 4rem 8rem;
  background: #ffffff;
  text-align: center;
  font-size: 1.5rem;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.feedback-form-btn {
  max-width: 30rem;
  margin: 0 auto;
}
.hand {
  position: absolute;
  bottom: 12rem;
  left: 2rem;
  max-width: 20%;
}
.scheme {
  background: url(../img/fon.jpg) no-repeat bottom right;
  background-size: 100%;
  padding: 0;
  text-align: center;
}
.scheme h3 {
  font-size: 2rem;
  font-weight: 900;
}
.scheme p {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
/* Все на 100% */
.all-inclusive {
  padding-top: 5rem;
  background: #F7F7F7;
}
.all-inclusive .media {
  min-height: 15rem;
}
.all-inclusive .media-body {
  margin: 0 0 0 2rem;
}
.all-inclusive h4 {
  font-weight: 900;
  font-size: 1.6rem;
}
.all-inclusive p {
  font-size: 1.5rem;
}
.circle {
  display: inline-block;
  background: #36b813;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  padding: 0.3rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #36b813;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-weight: 900;
  font-size: 2rem;
}
/* Мы развеем ысе опасения  */
.problems {
  position: relative;
  padding: 5rem 0;
}
.problems-woman {
  position: absolute;
  bottom: 0;
  left: 49%;
  margin-left: -10rem;
  max-width: 20%;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 32rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-weight: 900;
}
.problems-list ul {
  padding: 2rem;
  list-style: none;
  font-size: 1.6rem;
}
.problems-list ul li {
  position: relative;
  padding-left: 4rem;
  margin-bottom: 2rem;
}
.problems-list ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad ul li::before {
  background: url(../img/krest.png) center no-repeat;
  background-size: 80%;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_good {
  border-color: #36b813;
}
.problems-list_good ul li::before {
  background: url(../img/gal.png) center no-repeat;
  background-size: 80%;
}
/*  MATERIALS*/
.materials {
  padding-bottom: 0;
}
.materials a {
  display: inline-block;
  font-size: 1.8rem;
  color: #36b813;
  border-bottom: 1px solid #36b813;
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: 900;
}
.materials a:hover {
  color: #288a0e;
}
.materials .features-slider {
  margin: 5rem 0;
}
.materials .features-img {
  display: inline-block;
  margin-bottom: 12rem;
}
.materials p {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 300;
}
.materials .section-header {
  margin: 2rem 2rem;
}
/* Посмотрите как мы работаем */
.tour {
  background: url(../img/tourFon.jpg) 50% 1% no-repeat;
  background-size: cover;
  padding-bottom: 0;
}
.tour .price {
  padding-bottom: 5rem;
}
.tour .price .section-header {
  margin: 5rem;
}
.tour .price-block {
  min-height: 10rem;
  background: none;
  color: #ffffff;
}
.tour .price-block span {
  min-height: 5rem;
}
/* Контакты */
.contacts {
  padding: 5rem;
  background: url(../img/footerfon3.jpg) center bottom no-repeat;
  background-size: cover;
}
.contacts .map {
  max-height: 40%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.contacts h2 {
  font-size: 3.5rem;
}
.contacts p {
  font-size: 1.6rem;
}
.contacts .main-form {
  padding-top: 0;
  padding-right: 0;
  background: none;
}
footer {
  text-align: center;
  padding: 4rem 0;
}
footer p {
  font-size: 1.6rem;
}
footer .logo {
  margin-top: 1rem;
  text-align: left;
}
footer .keng {
  text-align: right;
}
/* Модальные окна */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}
.popup-form {
  margin-top: 4rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  top: 10%;
  background: #ffffff;
}
.popup-header {
  font-weight: 900;
}
@media (max-width: 1200px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .problems-list {
    min-height: 50rem;
  }
}
@media (max-width: 991px) {
  .tour {
    background: url(../img/tourFon.jpg) left no-repeat;
    background-size: cover;
  }
  .tour .price {
    margin-top: 5rem;
  }
  .all-inclusive .media {
    min-width: 20rem;
  }
  .main {
    background-position: top right;
  }
  .phone {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .price-block h4 {
    font-size: 1.6rem;
  }
  .price-button {
    text-align: center;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-woman {
    display: none;
  }
}
@media (max-width: 767px) {
  .contacts .main-form {
    margin-top: 5rem;
  }
  footer {
    padding: 4rem 0;
  }
  footer .logo {
    margin-top: 1rem;
    text-align: center;
  }
  footer .keng {
    text-align: center;
  }
  .contacts {
    text-align: center;
  }
  .contacts .map {
    width: 100%;
  }
  .scheme {
    background: none;
  }
  .main {
    background-position: top left;
  }
  .main h1 {
    display: none;
  }
  .header {
    text-align: center;
  }
}
